.container{
    display: flex;
    margin-top: 10%;
    position: relative;
}

.container .par{
    width: 29%;
    position: absolute;
    left: 10%;
    top: 25%;
}
.container .par h1{
    font-size: 25px;
}
.container .par p:nth-child(1){
    margin-top: 15%;
font-size: 42px;
}
.container .par p:nth-child(2){
    margin-top: 10%;
font-size: 32px;
color: #747474;
}
.container .background{
margin-left: 48.6%;
}

.container .background img:nth-child(1){
    position: absolute;
    }
.container .background img:nth-child(2){
        position: relative;
        }



        @media screen and (max-width: 1333px) {
            .container .background{
                margin-right: 0.6% !important;
            }
            .container{
                justify-content: center;
                width: 100% !important;
                display: block;
                margin-top: 10%;
                position: relative;
                margin-bottom: 60% !important;
            }
            .container .background img:nth-child(2){
                margin-left: 0% !important;
                 width: 194% !important;

                }
                .container .background img:nth-child(1){
                    margin-left: 0% !important;
                    width: 100% !important;
    
                    }

                    .container .par p:nth-child(1){
                        margin-top: 15% !important;
                    font-size: 36px !important;
                    }
                    .container .par p:nth-child(2){
                        margin-top: 10% !important;
                    font-size: 25px !important;
                    }
            
            .container .par{
                width: 65%;
                position: absolute;
                left: 25%;
                top: 97%;
            }
        }
        @media screen and (max-width: 920px) {
            .container{
                justify-content: center;
                width: 100% !important;
                display: block;
                margin-top: 10%;
                position: relative;
                margin-bottom: 80% !important;
            }
            .container .background img:nth-child(2){
                margin-left: 0% !important;
                 width: 204% !important;

                }
                .container .background img:nth-child(1){
                    margin-left: 0% !important;
                     width: 105% !important;
    
                    }

                    .container .par p:nth-child(1){
                        margin-top: 15% !important;
                    font-size: 36px !important;
                    }
                    .container .par p:nth-child(2){
                        margin-top: 10% !important;
                    font-size: 25px !important;
                    }
            
            .container .par{
                width: 65%;
                position: absolute;
                left: 25%;
                top: 97%;
            }

        }
        @media screen and (max-width: 440px) {
            .container .par p:nth-child(1){
                margin-top: 15% !important;
            font-size: 36px !important;
            }
            .container .par p:nth-child(2){
                margin-top: 10% !important;
            font-size: 25px !important;
            }
            .container .par{
                width: 78% !important;
                position: absolute;
                left: 10%;
                top: 97%;
            }

        }
        @media screen and (max-width: 370px) {
            .container{
                margin-left: 23% !important;
            }
            .container .par p:nth-child(1){
                margin-top: 15% !important;
            font-size: 29px !important;
            }
            .container .par p:nth-child(2){
                margin-top: 10% !important;
            font-size: 19px !important;
            }
            .container .par{
                width: 78% !important;
                position: absolute;
                left: 10%;
                top: 97%;
            }
            .container .background img:nth-child(2){
                margin-left: 0% !important;
                 width: 237% !important;

                }
                .container .background img:nth-child(1){
                    margin-left: 0% !important;
                     width: 122% !important;
    
                    }

        }
        
        @media screen and (max-width: 280px) {
           

        }
    