.container2{
    
    display: flex;
    
}
/* .paragraph-side1{
  
} */
.par{
    height: 50%;
    position: absolute;
    top: 190px;
    left: 61%;
    
}

/* .background-side2{
    position: relative;

} */

.b1{
    position: absolute;
}
.b2{
    position: relative;
}
.b3{
    position: absolute;
    top: 16%;
    left: 14%;

}

.b4{
    position: absolute;
    top: 13%;
    left: -4%;
}

.b5{
    position: absolute;
    top: 30%;
    left: 20%;
}

.b6{
    position: absolute;
    top: 54%;
    left: 0%;
}

.paragraph-side1 .par p:nth-child(1){
    font-size: 71px;


} 
.paragraph-side1 .par  p{
    margin-top: 10%;
    font-size: 32px;
    color: #747474;
}

.paragraph-side1 .par  button{
    margin-top: 7%;
    width: 278px;
    height: 84px;
    border-radius: 50px 50px 50px 50px;
    background-color: #297C9C;
    border-color: #297C9C;
    color: white;
    font-family: 'ZahraArabic';
    font-size: 26px;
        cursor: pointer;
        box-shadow: 2px 2px 11px #707070;
    
    }
