.container{
    margin-top: 10%;
text-align: center;
position: relative;

}

  .container img{
      width: 90%;
  }
  .hero-btns Button {
    margin-top:52px;
    margin-left: 5%;
    width: 277px;
    height: 83px;
    border-radius: 50px 50px 50px 50px;

  }
   
  .hero-btns {
      position: absolute;
      top: 11%;
      left: 23%;
      width: 50%;
}
.hero-btns p{
    font-size: 50px;
    color: white;
}

@media screen and (max-width: 1230px) {
    .container{
        margin-top: -33%;
justify-content: center;        
width: 100%;

    }
    .container img{
                width: 90%;
        height: 414px;
    }
    .hero-btns Button {
        margin-top: 21px;
        margin-left: 9%;
        width: 237px;
        height: 79px;
      border-radius: 50px 50px 50px 50px;
  
    }
     
    .hero-btns {
        position: absolute;
        top: 10%;
        left: 16%;
        width: 66%;
  }
  .hero-btns p{
      font-size: 46px;
      color: white;
  }
}
@media screen and (max-width: 900px) {
    .hero-btns p{
        font-size: 36px;
        color: white;
    }
}

@media screen and (max-width: 620px) {
    .container{

        margin-bottom: 58%;
        justify-content: center;        
        width: 87%;

    }
    .container img{
        
transform: rotate(90deg) translateX(180px);
        width: 115%;
        height: 414px;
    }
    .hero-btns Button {
        margin-top: 21px;
        margin-left: 0%;
        width: 237px;
        height: 79px;
      border-radius: 50px 50px 50px 50px;
  
    }
     
    .hero-btns {
        position: absolute;
        top: 40%;
    left: 27%;
    width: 64%;
  }
  .hero-btns p{
      font-size: 32px;
      color: white;
  }
}


@media screen and (max-width: 440px) {
    .container{
    margin-bottom: 82%;
justify-content: center;        
width: 83%;

    }
    .container img{
        
transform: rotate(90deg) translateX(180px);
width: 119%;
height: 305px;
    }
    .hero-btns Button {
        margin-top: 16px;
        margin-left: 0%;
        width: 200px;
        height: 64px;
      border-radius: 50px 50px 50px 50px;
  
    }
     
    .hero-btns {
        position: absolute;
        top: 40%;
        left: 23%;
        width: 77%;
  }
  .hero-btns p{
      font-size: 32px;
      color: white;
  }
}
@media screen and (max-width: 402px) {
    .hero-btns Button {
        margin-top: 8px;
        margin-left: 0%;
        width: 207px;
        height: 70px;
    
    }
    .hero-btns p {
        font-size: 30px;
        color: white;
        margin-top: 18%;
    }
    
    .container img{
        
        width: 120% !important;
        height: 356px !important;
            }
            
}
@media screen and (max-width: 370px) {
    .hero-btns Button {
        margin-top: 12px;
        margin-left: 0%;
        width: 228px;
        height: 74px;
    }
    .hero-btns {
        position: absolute;
        top: 44%;
        left: 27%;
        width: 92%;
  }
   
    .container img{
        
        width: 148% !important;
        height: 356px !important;
            }
}
@media screen and (max-width: 321px) {

.hero-btns Button {
    margin-top: 9px;
    margin-left: 0%;
    width: 210px;
    height: 65px;
}
@media screen and (max-width: 280px) {

    .container{
        margin-top: -33% !important; 

justify-content: center !important;        
width: 90% !important;

    }
    .container img{
        
transform: rotate(90deg);
width: 137% !important;
height: 282px !important;
    }
    .hero-btns Button {
        margin-top: 8px !important;
        margin-left: -1% !important;
        width: 166px !important;
        height: 60px !important;
      border-radius: 50px 50px 50px 50px;
  
    }
     
    .hero-btns {
        position: absolute;
        top: -4%;
    left: 25%;
    width: 90% !important;

  }
  .hero-btns p{
      font-size: 24px !important;
      color: white;
  }


}
}