.container{
    margin-top: 10%;
    background-color: #F6F6F6;
    width: 100%;
    display: flex;

}

.container3 img{
    width: 250px;
    height: 120px;
}
.container3{
margin-right: 10%;
}
.container3 p{
    width: 60%;
font-size: 27px;
color: #747474;
}

.container2{

    display: flex;
    justify-content: space-between;
    margin-right: -20%;
    margin-top: 11%;
    padding-top: 123px;
    padding-bottom: 157px;
    width: 36%;
}
.container2 .gridss p{
    margin-top: -5%;
    font-size: 36px;
}
.container2 .gridss li{
    
    font-size: 22px;
    color: #297C9C;
}
.container2 .gridss .mgtLi{
    margin-top: 40%;
}
.container2 div:nth-child(2){
    margin-right: 5%;
}
.footerBlock3{
    display: flex;
    width: 100%;
}
.footerBlock3 div:nth-child(1){
margin-left: 10%;    
}
.gridss img{
    margin-top: 25%;
}
.gridss h1{
    margin-bottom: 40%;
}

.gridss li{
    margin-top: 10%;
}
.marb{
    margin-top: 27%;
    margin-bottom: 150%;
    margin-inline: 90%;
    font-size: 32px;
}
.gridss2{
    margin-left: -13%;
    margin-right: -19%;
}
.icons{
    display: flex;

}
.icons i{

    font-size: 21px;
    color:#297C9C;
    margin-right: 100%;
}
.innerConteiner{
    display: flex;
    width: 50% !important;
}
.icons2{
    margin-left: 100%;
}
.icons i{

   font-size: 30px;
    
}
@media screen and (max-width: 1024px) {
.container2{
     
    margin-left: -17%;

}
.container3 p{
    width: 70%;

}
.footerBlock3 div:nth-child(1){
    margin-left: 42%;    
    }
}
@media screen and (max-width: 800px) {
    .container2{
         
        margin-left: -17%;
    
    }
    .container3 p{
        width: 34%;
    
    }
    }


@media screen and (max-width: 600px) {

    .container{
         justify-content: center;
        width: 100%;
        margin-left: -1% !important;
        margin-right: 0% !important;
        display: block;
    }
    .innerConteiner{
        display: block !important;
        margin-right: 10%;
        width: 80% !important;
    }
    .container3 p{
        width: 83% !important;
        margin-right: 0%;
        margin-left: 0%;
    }
    .container2{
        margin-top: -30% !important;
        display: block ;
        width: 90% !important;
        margin-right: 0%;
        margin-left: 0%;
    }
     .footerBlock3{
        margin-bottom: 12%;
         display: flex;
         justify-content: space-between;
     }
   .icons{
       margin-right: -7%;
   }
     .icons2{
         margin-left: 15%;
     }
     .icons i{

        font-size: 30px;
         
    }
.container3{
    margin-right: 0%;

}
}
@media screen and (max-width: 370px) {

    .container{
        justify-content: center;
        width: 124%;
       
    } 
}