.container{
    margin-top: 10%;
    background-color: #F6F6F6;
    width: 100%;
    display: flex;

}

.Tabenaa{
    margin-top: 10%;
}
.icons{
    margin-top: 22%;
}
 
.innerConteiner{
    width: 90%;
    display: flex;
    padding-top: 7%;
    padding-bottom: 7%;
}
.container3 img{
    width: 250px;
    height: 120px;
}
.container3{
margin-right: 10%;
width: 20% !important;
}
.container3 p{
    font-size: 27px;
    color: #747474;
}

.container2{
    display: flex;
    justify-content: space-between;
    width: 58%;
    align-items: center;
   margin-right: 13%;
 }
 .container2 a{
     text-decoration: none;
 }
 .container2 .gridss{
     width: 44%;
 }
 .gridss .icons{
    margin-top: 22%;
         display: flex;
     justify-content: space-between;
 width: 100%;
}
  .gridss .icons2{
    justify-content: space-around;
}
.container2 div:nth-child(2){
     height: 70%;
}
.container2 .gridss p{
     font-size: 36px;
}
.container2 .gridss li{
    
    font-size: 22px;
    color: #297C9C;
}
.icons i{

    font-size: 30px;
    color:#297C9C;
}
 
.container3 div:nth-child(1) p{
    width: 130%;
 } 
.ddddd{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}
@media screen and (max-width: 1500px) {
    .Tabenaa{
        margin-top: 18% ;
    }
}
@media screen and (max-width: 1124px) {
    .Tabenaa{
        margin-top: 22%;
    }
}

@media screen and (max-width: 800px) {
     
    .innerConteiner{
        display: block;
        flex-direction: column;
    }
    .container2{
        
        display: block;
        margin-right: 13% !important;
    }
    .container2 .ddddd{
        justify-content:  flex-start;
        display: flex;
        width: 300% !important;
    }
    .container3{
        width: 70% !important;
    }
   .container2 div:nth-child(2) p {
    margin-top: 11%;
    }
    .container2 .gridss{
        width: 30% !important;
    }
    .gridss .icons2{
 margin-left: 80%;
    }
    .container2 div:nth-child(2){
    padding-bottom: 5%;
    }
    }

    @media screen and (max-width: 500px) {
     
        .innerConteiner{
            display: block;
            flex-direction: column;
        }
        .container2{
            
            display: block;
            margin-right: 13% !important;
        }
        .container2 .ddddd{
            display: flex;
            width: 300%;
        }
        .container3{
            width: 70% !important;
        }
       .container2 div:nth-child(2) p {
             margin-top: 17%;
        }        
        
        }


        @media screen and (max-width: 380px) {
     
            .innerConteiner{
                display: block;
                flex-direction: column;
            }
            .container2{
                
                display: block;
                margin-right: 13% !important;
            }
            .container2 .ddddd{
                display: flex;
                width: 300%;
            }
            .container3{
                width: 70% !important;
            }
           .container2 div:nth-child(2) p {
                margin-top: 20%;
            }
            }
@media screen and (max-width: 370px) {

    .container{
        justify-content: center;
        width: 111%;
       
    } 
} 